.message {
    padding: 7px 0;
    display: flex;
    flex-direction: row;
    background-color: #b4e443;
    font-size: 24px;
}

.message__avatar {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.message__avatarImage {
    width: 61px;
    height: auto;
    border-radius: 50%;
}

.message__content {
    position: relative;
    width: 370px;
    padding: 13px 0 13px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: #062105;
    clip-path: polygon(8px 75px, 10px 65px, 10px 5px, 15px 0, calc(100% - 5px) 0, 100% 5px, 100% calc(100% - 5px), calc(100% - 5px) 100%, 0 100%);
}

.message__name {
    padding: 0 100px 0 23px;
    color: #9a99b0;
}

.message__text {
    padding: 0 100px 0 23px;
    color: #adc1ae;
}

.message__time {
    position: absolute;
    right: 22px;
    bottom: 13px;
    color: #314c30;
}
